<ion-view title="Suggestions" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="suggestions-list2" class=" ">
            <ion-item id="suggestions-list-item4" class="  ">Warm</ion-item>
            <ion-item class="item-divider " id="suggestions-list-item-divider1">99-100℉ / 38℃</ion-item>
            <ion-item id="suggestions-list-item5" class="  ">Warmer</ion-item>
            <ion-item class="item-divider " id="suggestions-list-item-divider2">110℉ / 43℃</ion-item>
            <ion-item id="suggestions-list-item6" class="  ">Hot</ion-item>
            <ion-item class="item-divider " id="suggestions-list-item-divider3">120℉ / 49℃</ion-item>
            <ion-item id="suggestions-list-item7" class="  ">Steaming (Just Under Boiling)</ion-item>
            <ion-item class="item-divider " id="suggestions-list-item-divider4">200℉ / 93</ion-item>
            <ion-item id="suggestions-list-item8" class="  ">Boiling</ion-item>
            <ion-item class="item-divider " id="suggestions-list-item-divider5">212℉ / 100℃</ion-item>
        </ion-list>
    </ion-content>
</ion-view>